.bid {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  background-color: var(--color-gray-dark);
  border-radius: 32px;
  gap: 24px;
}

.bidTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.bidPrice {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.02em;
  text-align: center;
}

.bidValue {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--color-gray-light);
}

.countdown {
  width: 100%;
  text-align: center;
}

.countdown h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 0.5rem;
}

.countdownWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.countdownTime {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.countdownTimeNumber {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01em;
  text-align: center;
  min-width: 40px;
}

.countdownTime p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--color-gray-light);
}
